<section class="container">
  <h2>Listado de autos</h2>

  <div class="container">
    <ul>
      @for (auto of autos(); track $index) {
        <li class="mx-2">
          <h3>{{ auto.marca }} {{ auto.modelo }}</h3>

          <p>Precio: {{ auto.precio | currency }}</p>
          
          <div class="d-flex justify-content-end">
            <button (click)="seleccionarAuto(auto)" class="btn btn-outline-primary">Ver</button>
          </div>
        </li>
      }
      @empty {
        <li>
          <h3 class="no-item">No hay autos disponibles</h3>
        </li>
      }
    </ul>
  </div>
</section>