<section class="container">
  <h2>Alta de auto</h2>

  <form [formGroup]="formularioAlta" class="container" (submit)="onSubmit()">
    <div class="form-group">
      <label for="marca">Marca</label>
      <input formControlName="marca" type="text" id="marca" name="marca" class="form-control" />
    </div>

    <div class="form-group">
      <label for="modelo">Modelo</label>
      <input formControlName="modelo" type="text" id="modelo" name="modelo" class="form-control" />
    </div>

    <div class="form-group">
      <label for="precio">Precio</label>
      <input formControlName="precio" type="number" id="precio" min="0" name="precio" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Agregar Auto</button>
  </form>
</section>
