<h2>Alta de auto</h2>

<form>
  <div class="form-group">
    <label for="marca">Marca</label>
    <input type="text" id="marca" [(ngModel)]="auto.marca" name="marca" class="form-control" />
  </div>

  <div class="form-group">
    <label for="modelo">Modelo</label>
    <input type="text" id="modelo" [(ngModel)]="auto.modelo" name="modelo" class="form-control" />
  </div>

  <div class="form-group">
    <label for="precio">Año</label>
    <input type="number" id="precio" [(ngModel)]="auto.precio" name="precio" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Agregar Auto</button>
</form>
